.heading-section {
    background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
    padding: 100px;
    padding-bottom: 150px;

    h1.title {
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black, 0.12);
    }
}

.container {
    max-width: 800px;
}

.add-todo-box {
    padding: 25px;
    // border: 1px solid black;
    border-radius: 4px;
    margin-top: -69px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(black, 0.08);
}

.todo-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 35px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    &.completed {
        color: #aaa;
    }
}

.todo-item .check-box {
    border: 2px solid #eee;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    display: flex;
    flex-shrink: 0;
    transition: background-color 0.2s;

    i.material-icons {
        font-size: 20px;
        margin: auto;
        color: black;
        opacity: 0;

        transition: opacity 0.2s;
    }
}

.todo-item:hover .check-box {
    background: #eee;
    i.material-icons {
        opacity: 1;
    }
}

.todo-item.completed .check-box {
    background-color: rgb(11, 223, 170);

    i.material-icons {
        opacity: 1;
    }
}

.todo-item .todo-controls-box {
    position: absolute;
    bottom: 0;
    right: 5px;

    display: flex;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .todo-controls-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
    transform: translateY(0);
}

.todo-controls-box .todo-control-button {
    background-color: #f5f7f8;
    padding: 7px 10px;

    i.material-icons {
        font-size: 20px;
        color: #555;
    }
    &:hover {
        background-color: #eee;
        i.material-icons {
            color: #333;
        }
    }

    &:active {
        background-color: #e5e7e8;
    }

    &:first-of-type {
        border-top-left-radius: 7px;
    }
    &:last-of-type {
        border-top-right-radius: 7px;
    }
}

.todo-controls-box .todo-control-button.is-danger:active i.material-icons {
    color: black;
}
